<!DOCTYPE html>
{% load static %}

<html>
<head>
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'news.css' %}">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="" href="{% url 'home' %}">
        <img src="{% static '/icons/home-black-36dp.svg' %}" alt="" title="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}">

            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}?provider_code=1">THE ONION</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}?provider_code=2">BBC NEWS</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <div class="container-fluid">
    <div class="jumbotron">
        <center>
            <h1>News Aggregator</h1>
            <form>
                <a href="{% url 'scrape' %}?provider_code={{ provider_code }}" class="btn btn-success">{{ button_text }}</a>
            </form>
        </center>
    </div>
    </div>

    <div class="container-fluid">
    <div class="row" style="padding: 10px;">
        {% for object in object_list %}
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src = "{{ object.image }}">
            <div class="card-body">
                <h5 class="card-title"><a href="{{object.url}}">{{object.title}}</a></h5>
            </div>
            {% if not object.is_read %}
                <a href="{% url 'mark_read' object.pk %}?mark=1" class="btn btn-success">Mark as Read</a>
            {% else %}
                <a href="{% url 'mark_read' object.pk %}?mark=0" class="btn btn-outline-dark">Mark Unread</a>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    </div>

    <script src="http://code.jquery.com/jquery-3.3.1.min.js"  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
